html {
  box-sizing: border-box;
  padding:1.25em;
  font-family:'Fira Mono', monospace;
  color: black;}

*, *:before, *:after {box-sizing: inherit;}

/*img*/

img {
  max-width: 100%;
  margin: auto;
}
#rnrback {
  background-size: cover;
  height: 31.25em;
  position: relative;
  background-image: linear-gradient(rgba(255,255,255,.5),
                                    rgba(255,255,255,.5)),
                                    url("rnrback.jpg");
}

/*links*/
a {
  font-weight: 400;
  background-color: transparent;
  margin: 0.25em;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  background-color: black;
  color: white;
}
a:active {
  text-decoration: none;
}

/*main*/

.card {
  font-weight: bold;
  font-size: 28px;
  background-color: #282C66;
  -webkit-print-color-adjust: exact;
  width: 46em;
  height: 25em;
  text-align: center;
  padding: 0.4em;
  margin: 1.25em;
}

.card:nth-child(2n+1) {
  background-color: #4b6628;
}

.card:nth-child(3n+1) {
  background-color: #664328;
}

.cardItem {
  background-color: white;
  display: inline-block;
  width: 14em;
  height: 7em;
  line-height: 7em;
  margin: 0.5em;
}

button, .numOfCards {
  height: 2em;
  width: auto;
  padding: 0 1.5em 0 1.5em;
  margin: 1.5em 1.5em 1.5em 0;
  background-color: black;
  border: 0;
  color: white;
  font-size: 16px;
}

.addQuestion {
  margin: 0;
  font-size: 15px;
}

.delete {
  cursor: pointer;
}

.hidden {
  display: none;
}

.logger {
  color: red;
  padding: 1.5em;
  font-size: 30px;
}

@media print {
  .noPrint {
    display: none !important;
  }

  .card:nth-child(3n+4) {
    page-break-before: always;
  }
}
