html {
  box-sizing: border-box;

  font-family:'Fira Mono', monospace;
  color: black;}

*, *:before, *:after {box-sizing: inherit;}

/*nav*/
nav {
  margin-bottom: 3em;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

/*links*/
a {
  font-weight: 400;
  background-color: transparent;
  margin: 0.25em;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  background-color: black;
  color: white;
}
a:active {
  text-decoration: none;
}


/*nav*/
nav {
  margin-bottom: 3em;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

/*links*/
a {
  font-weight: 400;
  background-color: transparent;
  margin: 0.25em;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  background-color: black;
  color: white;
}
a:active {
  text-decoration: none;
}

/*buttons*/
button {
  background-color: black;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  border-radius: 12px;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

button:hover {opacity: 1}

/*img*/
.rnrback {
  max-width: 100%;
  margin: auto;
  background-size: cover;
  height: 31.25em;
  position: relative;
  background-image: linear-gradient(rgba(255,255,255,.5),
                                    rgba(255,255,255,.5)),
                                    url("../img/rnrback.jpg");
}

/*main*/
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.panel {
  min-height: 5em;
  width: 90%;
  justify-content: left;
  margin: 0.5em 0.5em 0.5em 0.5em;
  padding: 1em;
}

.card {
  font-weight: bold;
  font-size: 28px;
  background-color: #8a8a8a;
  -webkit-print-color-adjust: exact;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  padding: 0.4em;
  margin: 1.25em;
}

.card:nth-child(2n+1) {
  background-color: #b5b5b5;
}

.card:nth-child(3n+1) {
  background-color: #969696;
}

.cardItem {
  background-color: white;
  display: inline-block;
  width: 30%;
  height: 30%;
  line-height: 7em;
  margin: 1% 1.5%;
  background-repeat:no-repeat;
  background-position: center center;
  background-size:contain;
}

.artists {
  max-width: 20%;
  margin: 0.75em;
  justify-content: center;
  border-radius: 12px;
}

.qinput {
  border-radius: 12px;
}

.addBand {
  margin: 0;
  font-size: 15px;
}

.delete {
  cursor: pointer;
}

.hidden {
  display: none;
}

.logger {
  color: red;
  padding: 1.5em;
  font-size: 30px;
}

/*footer*/
.footer {
  background-color: transparent;
  text-align: left;
  padding: 0.6em;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.logo {
    
}

/*mediaQ*/
@media print {
  .noPrint {
    display: none !important;
  }

  .card:nth-child(3n+4) {
    page-break-before: always;
  }
}
